@model MockApi.Web.ViewModels.SettingViewModel

@{
    ViewBag.Title = "New Configuration";
    ViewBag.Subtitle = "New Route Setting";
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/lib/editor")
}
